/*navbar*/
.navbar-custom{
	background-color: transparent;
}

.host-button{
	border: 1px solid orange;
	border-radius: 10px;
	color: orange;
}

/*listing_index*/

.box {
	border: 2px black solid;
	height: 400px;
}

.listing-picture {
	width:350px;
	height: 200px;
}

.paginate{
	display: block;
}

/*user_show*/

.profile-pic{
	height:200px;
	width:200px;
}